{% extends "form/user_checkout_change.html.twig" %}

{% block user_checkout_change %}

    {{ parent() }}

    {% if oxcmp_user %}
        {% set delivadr = oxcmp_user.getSelectedAddress() %}
    {% endif %}

    {% if true == oViewConf.showGdprDeliveryOptIn() %}
        {% if delivadr %}
            <script>
                function editShippingAddressJS() {
                    document.querySelector('#showShipAddress').addEventListener('click', function(){
                        if (document.getElementById('oegdproptin_changeDelAddress')) {
                            document.getElementById('oegdproptin_changeDelAddress').value=1;
                        }
                        if (!document.querySelector('#GdprOptinShipAddress')) {
                            return false;
                        }
                        if (document.querySelector('#showShipAddress').checked) {
                            document.querySelector('#GdprOptinShipAddress').removeAttribute('style');
                        } else {
                            document.querySelector('#GdprOptinShipAddress').setAttribute('style', 'display: none;');
                        }
                    });
                }
            </script>
            <script>
                function editDeliveryAddressJS() {
                    document.querySelector('#userChangeAddress').addEventListener('click', function(){
                        if (document.getElementById('oegdproptin_changeDelAddress')) {
                            document.getElementById('oegdproptin_changeDelAddress').value=1;
                        }
                        if (!document.querySelector('#GdprOptinShipAddress')) {
                            return false;
                        }
                        if (document.querySelector('.dd-add-delivery-address').checked) {
                            document.querySelector('#GdprOptinShipAddress').setAttribute('style', 'display: none;');
                        } else {
                            document.querySelector('#GdprOptinShipAddress').removeAttribute('style');
                        }
                    });
                }
            </script>
            {{ script({ add: "editShippingAddressJS();", dynamic: __oxid_include_dynamic }) }}
            {{ script({ add: "editDeliveryAddressJS();", dynamic: __oxid_include_dynamic }) }}
        {% endif %}
        <script>
            function showShipAddressJS() {
                document.querySelector('#showShipAddress').addEventListener('change', function() {
                    if (!document.querySelector('#GdprOptinShipAddress')){
                        return false;
                    }

                    if (document.querySelector('#showShipAddress').checked){
                        document.querySelector('#GdprOptinShipAddress').setAttribute('style', 'display: none;');
                    } else {
                        document.querySelector('#GdprOptinShipAddress').removeAttribute('style');
                    }
                    return true;
                });
            }
        </script>
        {{ script({ add: "showShipAddressJS();", dynamic: __oxid_include_dynamic }) }}

    {% endif %}

    {% if true == oViewConf.showGdprInvoiceOptIn() %}
        <script>
            function userChangeAddressJS() {
                document.querySelector('#userChangeAddress').addEventListener('click', function() {
                    if (document.querySelector('#GdprInvoiceAddressOptin')) {
                        document.querySelector('#GdprInvoiceAddressOptin').removeAttribute('style');
                    }
                    document.querySelector('#userChangeAddress').setAttribute('style', 'display: none;');
                    return true;
                });
            }
        </script>
        {{ script({ add: "userChangeAddressJS();", dynamic: __oxid_include_dynamic }) }}
    {% endif %}


    <script>
        function optinValidationJS() {

            document.querySelector("#userFormSubmit").setAttribute('onclick', '');
            document.querySelector("#userFormSubmit").addEventListener('click', function (event) {

                event.preventDefault();

                if (document.querySelector("#oegdproptin_deliveryaddress_error")) {
                    document.querySelector("#oegdproptin_deliveryaddress_error").setAttribute('style', 'display: none;');
                }
                if (document.querySelector("#oegdproptin_invoiceaddress_error")) {
                    document.querySelector("#oegdproptin_invoiceaddress_error").setAttribute('style', 'display: none;');
                }

                var success = true;
                if (
                    document.querySelector('#GdprInvoiceAddressOptin') &&
                    !document.querySelector('#GdprInvoiceAddressOptin').hasAttribute('style') &&
                    document.querySelector('#oegdproptin_invoiceaddress') &&
                    !document.querySelector('#oegdproptin_invoiceaddress').hasAttribute('style') &&
                    document.querySelector('#oegdproptin_invoiceaddress') &&
                    !document.querySelector('#oegdproptin_invoiceaddress').checked
                ) {
                    if (document.querySelector("#oegdproptin_invoiceaddress_error")) {
                        document.querySelector("#oegdproptin_invoiceaddress_error").removeAttribute('style');
                    }
                    success = false;
                }
                if (document.querySelector('#showShipAddress') &&
                    !document.querySelector('#showShipAddress').checked &&
                    document.querySelector('#oegdproptin_deliveryaddress') &&
                    !document.querySelector('#oegdproptin_deliveryaddress').hasAttribute('style') &&
                    document.querySelector('#oegdproptin_deliveryaddress') &&
                    !document.querySelector('#oegdproptin_deliveryaddress').checked
                ) {
                    if (document.querySelector("#oegdproptin_deliveryaddress_error")) {
                        document.querySelector("#oegdproptin_deliveryaddress_error").removeAttribute('style');
                    }
                    success = false;
                }

                if (success) {
                      document.querySelector("#user_form").submit();
                }
                return success;
            });
        }
    </script>

    {{ script({ add: "optinValidationJS();", dynamic: __oxid_include_dynamic }) }}

{% endblock %}


{% block user_checkout_shipping_feedback %}

    {{ parent() }}

    {% if true == oViewConf.showGdprDeliveryOptIn() %}
        <div class="form-group{% if Errors.oegdproptin_deliveryaddress %} oxInValid{% endif %}" id="GdprOptinShipAddress" style="display: none;">
            <div class="col-lg-9 col-lg-offset-3 offset-lg-3">
                <div class="checkbox">
                    <label for="oegdproptin_deliveryaddress">
                        <input type="hidden" class="hidden" id="oegdproptin_changeDelAddress" name="oegdproptin_changeDelAddress" value="0">
                        <input type="checkbox" name="oegdproptin_deliveryaddress" id="oegdproptin_deliveryaddress" value="1"> <strong>{{ translate({ ident: "OEGDPROPTIN_STORE_DELIVERY_ADDRESS" }) }}</strong>
                    </label>
                </div>
            </div>
            <div class="col-lg-9 col-lg-offset-3 offset-lg-3">
                <div id="oegdproptin_deliveryaddress_error" style="display:none;" class="text-danger">{{ translate({ ident: "OEGDPROPTIN_CONFIRM_STORE_DELIVERY_ADDRESS" }) }}</div>
                <div class="help-block"></div>
            </div>
        </div>
    {% endif %}

{% endblock %}



{% block user_checkout_billing_feedback %}
    {{ parent() }}

    {% if true == oViewConf.showGdprInvoiceOptIn() %}
        <div class="form-group{% if Errors.oegdproptin_invoiceaddress %} oxInValid{% endif %}" id="GdprInvoiceAddressOptin" style="display: none;">
            <div class="col-lg-9 col-lg-offset-3 offset-lg-3">
                <div class="checkbox">
                    <label for="oegdproptin_invoiceaddress">
                        <input type="hidden" class="hidden" id="oegdproptin_changeInvAddress" name="oegdproptin_changeInvAddress" value="0">
                        <input type="checkbox" name="oegdproptin_invoiceaddress" id="oegdproptin_invoiceaddress" value="1">
                        <strong>{{ translate({ ident: "OEGDPROPTIN_STORE_INVOICE_ADDRESS" }) }}</strong>
                    </label>
                </div>
            </div>
            <div class="col-lg-9 col-lg-offset-3 offset-lg-3">
                <div id="oegdproptin_invoiceaddress_error" style="display:none;" class="text-danger">{{ translate({ ident: "OEGDPROPTIN_CONFIRM_STORE_INVOICE_ADDRESS" }) }}</div>
                <div class="help-block"></div>
            </div>
        </div>

    {% endif %}

{% endblock %}
