{% extends "form/user_checkout_change.html.twig" %}

{% block user_checkout_change %}

    {{ parent() }}

    {% if oxcmp_user %}
        {% set delivadr = oxcmp_user.getSelectedAddress() %}
    {% endif %}

    {% if true == oViewConf.showGdprDeliveryOptIn() %}
        {% if delivadr %}
            <script type="text/javascript">
                function toggleGdprOptinEditAddress() {
                    var deliveryAddressForm = document.querySelector('#shippingAddressForm').style.display;
                    var isVisible = deliveryAddressForm === 'block' || deliveryAddressForm === '';

                    if (document.getElementById('oegdproptin_changeDelAddress')) {
                        document.getElementById('oegdproptin_changeDelAddress').value = isVisible ? 1 : 0;
                    }

                    if (!document.querySelector('#GdprOptinShipAddress')) {
                        return false;
                    }

                    if (document.querySelector('#GdprOptinShipAddress') && (document.querySelector('.dd-add-delivery-address').checked || isVisible)) {
                        document.querySelector('#GdprOptinShipAddress').removeAttribute('style');
                    } else {
                        document.querySelector('#GdprOptinShipAddress').setAttribute('style', 'display: none;');
                    }
                }

                function editDeliveryAddressJS() {
                    document.querySelector('.dd-edit-shipping-address').addEventListener('click', function(){
                        toggleGdprOptinEditAddress();
                    });

                    document.querySelector('.dd-add-delivery-address').addEventListener('click', function(){
                        toggleGdprOptinEditAddress();
                    });
                }
            </script>
            {{ script({ add: "toggleGdprOptinEditAddress(); editDeliveryAddressJS();", dynamic: __oxid_include_dynamic }) }}
        {% else %}
        <script type="text/javascript">
            function toggleGdprOptinShipAddress() {
                if (!document.querySelector('#GdprOptinShipAddress')){
                    return false;
                }

                if (document.querySelector('#showShipAddress').checked){
                    document.querySelector('#GdprOptinShipAddress').setAttribute('style', 'display: none;');
                } else {
                    document.querySelector('#GdprOptinShipAddress').removeAttribute('style');
                }

                return true;
            }

            function showShipAddressJS() {
                document.querySelector('#showShipAddress').addEventListener('change', function() {
                    toggleGdprOptinShipAddress();
                });
            }
        </script>
        {{ script({ add: "toggleGdprOptinShipAddress(); showShipAddressJS();", dynamic: __oxid_include_dynamic }) }}
        {% endif %}
    {% endif %}

    {% if true == oViewConf.showGdprInvoiceOptIn() %}
        <script type="text/javascript">
            function toggleGdprInvoiceAddressOptin() {
                var invoiceAddressForm = document.querySelector('#addressForm').style.display;
                var isVisible = invoiceAddressForm === 'block' || invoiceAddressForm === '';

                if (document.getElementById('oegdproptin_changeInvAddress')) {
                    document.getElementById('oegdproptin_changeInvAddress').value = isVisible ? 1 : 0;
                }

                if (document.querySelector('#GdprInvoiceAddressOptin') && isVisible) {
                    document.querySelector('#GdprInvoiceAddressOptin').removeAttribute('style');
                } else {
                    document.querySelector('#GdprInvoiceAddressOptin').setAttribute('style', 'display: none;');
                }
            }

            function userChangeAddressJS() {
                document.querySelector('#userChangeAddress').addEventListener('click', function() {
                    toggleGdprInvoiceAddressOptin();

                    document.querySelector('#userChangeAddress').setAttribute('style', 'display: none;');
                    return true;
                });
            }
        </script>
        {{ script({ add: "toggleGdprInvoiceAddressOptin(); userChangeAddressJS();", dynamic: __oxid_include_dynamic }) }}
    {% endif %}

    <script type="text/javascript">
        function optinValidationJS() {

            document.querySelector("#userFormSubmit").setAttribute('onclick', '');
            document.querySelector("#userFormSubmit").addEventListener('click', function (event) {

                event.preventDefault();

                if (document.querySelector("#oegdproptin_deliveryaddress_error")) {
                    document.querySelector("#oegdproptin_deliveryaddress_error").setAttribute('style', 'display: none;');
                }
                if (document.querySelector("#oegdproptin_invoiceaddress_error")) {
                    document.querySelector("#oegdproptin_invoiceaddress_error").setAttribute('style', 'display: none;');
                }

                var success = true;
                if (
                    document.querySelector('#GdprInvoiceAddressOptin') &&
                    !document.querySelector('#GdprInvoiceAddressOptin').hasAttribute('style') &&
                    document.querySelector('#oegdproptin_invoiceaddress') &&
                    !document.querySelector('#oegdproptin_invoiceaddress').hasAttribute('style') &&
                    document.querySelector('#oegdproptin_invoiceaddress') &&
                    !document.querySelector('#oegdproptin_invoiceaddress').checked
                ) {
                    if (document.querySelector("#oegdproptin_invoiceaddress_error")) {
                        document.querySelector("#oegdproptin_invoiceaddress_error").removeAttribute('style');
                    }
                    success = false;
                }
                if (document.querySelector('#showShipAddress') &&
                    !document.querySelector('#showShipAddress').checked &&
                    document.querySelector('#oegdproptin_deliveryaddress') &&
                    !document.querySelector('#oegdproptin_deliveryaddress').hasAttribute('style') &&
                    document.querySelector('#oegdproptin_deliveryaddress') &&
                    !document.querySelector('#oegdproptin_deliveryaddress').checked
                ) {
                    if (document.querySelector("#oegdproptin_deliveryaddress_error")) {
                        document.querySelector("#oegdproptin_deliveryaddress_error").removeAttribute('style');
                    }
                    success = false;
                }

                if (success) {
                      document.querySelector("#user_form").submit();
                }
                return success;
            });
        }
    </script>

    {{ script({ add: "optinValidationJS();", dynamic: __oxid_include_dynamic }) }}

{% endblock %}


{% block user_checkout_shipping_feedback %}

    {{ parent() }}

    {% if true == oViewConf.showGdprDeliveryOptIn() %}
        <div class="mb-3" id="GdprOptinShipAddress"{% if not aErrors %} style="display: none;"{% endif %}>
            <input type="hidden" class="hidden" id="oegdproptin_changeDelAddress" name="oegdproptin_changeDelAddress" value="0">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="oegdproptin_deliveryaddress" id="oegdproptin_deliveryaddress" value="1"{% if oViewConf.getDeliveryOptIn() %} checked{% endif %}>
                <label for="oegdproptin_deliveryaddress" class="form-check-label">
                    <strong>{{ translate({ ident: "OEGDPROPTIN_STORE_DELIVERY_ADDRESS" }) }}</strong>
                </label>

                <div id="oegdproptin_deliveryaddress_error" style="display:none;" class="text-danger">{{ translate({ ident: "OEGDPROPTIN_CONFIRM_STORE_DELIVERY_ADDRESS" }) }}</div>
            </div>
        </div>
    {% endif %}

{% endblock %}



{% block user_checkout_billing_feedback %}
    {{ parent() }}

    {% if true == oViewConf.showGdprInvoiceOptIn() %}
        <div class="mb-3" id="GdprInvoiceAddressOptin" {% if not aErrors %} style="display: none;"{% endif %}>
            <input type="hidden" class="hidden" id="oegdproptin_changeInvAddress" name="oegdproptin_changeInvAddress" value="0">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="oegdproptin_invoiceaddress" id="oegdproptin_invoiceaddress" value="1"{% if oViewConf.getInvoiceOptIn() %} checked{% endif %}>
                <label for="oegdproptin_invoiceaddress" class="form-check-label">
                    <strong>{{ translate({ ident: "OEGDPROPTIN_STORE_INVOICE_ADDRESS" }) }}</strong>
                </label>

                <div id="oegdproptin_invoiceaddress_error" style="display:none;" class="text-danger">{{ translate({ ident: "OEGDPROPTIN_CONFIRM_STORE_INVOICE_ADDRESS" }) }}</div>
            </div>
        </div>
    {% endif %}

{% endblock %}
